<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Paragraph a Day {% block title %}{% endblock %}</title>
</head>

<body>
    
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    {% if session['user_id'] %}
    <a class="navbar-brand" href="/users/{{session['user_id']}}">Paragraph A Day</a>
    {% else %}
    <a class="navbar-brand" href="/">Paragraph A Day</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav mr-auto">
        {% if session['user_id'] %}
        <li class="nav-item">
          <a class="nav-link" href="/users/{{session['user_id']}}/paragraphs">My Paragraphs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/public_paragraphs">Public Paragraphs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{session['user_id']}}/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
    </div>
</nav>

{% for msg in get_flashed_messages() %}
<div class="row justify-content-center mt-2">
  <h1 class="badge badge-dark">{{msg}}</h1>
</div>
{% endfor %}

{% block content %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
    
</body>
</html>