{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %} 



<div class="row justify-content-center mt-3">
  <h2>Login as an Existing User</h2>
</div>
<br>

<div class = "row justify-content-center">
  <div class = "col-8">
  <form novalidate method="POST">
      {{ form.hidden_tag() }}
      {% for field in form if field.widget.input_type != 'hidden'%}
      <div class="form-group">
        {{field.label}}
        {{field(class_="form-control")}}
        {% for error in field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {% endfor %}
      </div>
      {% endfor %}
      <button class="btn btn-primary" name="login-button">Submit</button>
    </form>
    </div>
</div>
<br>
<br>

{% endblock %}