{% extends 'base.html' %}

{% block title %} User View {% endblock %}

{% block content %} 

    
<div class="jumbotron blue">
    <h1 class="display-4">Welcome {{user.username}} </h1>
    <p class="lead">Check out today's image and see what it inspires for you!</p>
</div>

<div class="row mb-3">
    <div class="col-3">
        <div class="card ml-4">
                <img src="{{image.image_url}}" alt="Card image cap">
          <span class="small">Photo by <a href="{{image.credit_url}}?utm_source=paragraph_a_day&utm_medium=referral">{{image.photographer}}</a> on <a href="https://unsplash.com/?utm_source=paragraph_a_day&utm_medium=referral">Unsplash</a></span>
        </div>
    </div>
    <div class="col-9">
        <div class="card mr-4">
          <div class="card-body">
            <h5 class="card-title text-center">Enjoy Your Time to Write!</h5>
            <form novalidate method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            {{form.title.label}}
                            {{form.title(class_="form-control")}}
                            {% for error in form.title.errors %}
                            <span class="form-text text-danger">{{error}}</span>
                            {% endfor %}
                        </div>
                        <div class="col-1">
                            {{form.public.label}}
                            {{form.public(class_="form-control")}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            {{form.content.label}} <span id="char_count">(characters remaining: 500)</span>
                            {{form.content(class_="form-control")}}
                            {% for error in form.content.errors %}
                            <span class="form-text text-danger">{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <button class="btn btn-primary dark_blue mt-4 mb-4" name="register-button">Submit</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>

<br>




{% endblock %}